@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

/* REGLAS GENERALES */

/* Definimos las variables de colores  */
:root {
  --text-color: rgb(0, 0, 0);
  --dark-background-color: rgb(0, 0, 0);
  --text-dark-background-color: rgb(255, 255, 255);
  --contrast-color: rgb(189, 55, 0);
  --main-background-color: rgb(244, 244, 244);
  --form-background-color: rgb(242, 232, 228);
}

/* Reset de margins y paddings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

body header {
  background-color: white;
  box-shadow: 0px 2px 3px gainsboro;
}

body main {
  background-color: var(--main-background-color);
}

abbr {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
.title {
  font-family: 'Raleway', sans-serif;
  padding-top: 8px;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.title {
  font-weight: 800;
  font-size: 1.9rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.descripción,
.more-text {
  font-size: 0.75rem;
}

.more-text {
  font-weight: 600;
}

figcaption {
  font-size: small;
}

/* Media Queries */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Se ejecutará sólo cuando la anchura de la ventana del navegador
sea entre 320 pixeles y 768 pixeles, ambos incluidos. (PANTALLAS MÁS PEQUEÑAS,
dispositivos móviles para modo vertical y horizontal) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 315px;
  }

  header .menu-links li {
    display: block;
    text-align: center;
  }

  header .link-titular {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
  }

  header .lema-cabecera {
    text-align: center;
  }

  .container h2 {
    font-size: 1rem;
  }

  .container h3 {
    font-size: 0.95rem;
  }

  header {
    height: 180px;
  }

  .navegation-container {
    position: sticky;
    top: 0;
  }

  header .container {
    min-height: 1560px;
  }

  .container section[class='primera-sección'] {
    height: 250px;
    width: 382px;
    max-width: 382px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
    left: -70px;
  }

  .container section[class='primera-sección'] .lema {
    font-size: 1.9rem;
    padding-top: 50px;
    width: 320px;
    position: relative;
    left: 85px;
  }

  .imagen-segunda-noticia,
  .imagen-tercera-noticia {
    margin-top: 20px;
  }

  .cuarta-sección {
    width: 320px;
    position: relative;
    left: -19px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }

  .form-footer button {
    width: 7rem;
  }

  .form-group input {
    width: 100%;
  }

  .primer-sintoma,
  .segundo-sintoma,
  .tercer-sintoma,
  .cuarto-sintoma,
  .quinto-sintoma {
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .quinto-sintoma {
    margin-bottom: 50px;
  }

  .primer-sintoma figure img,
  .segundo-sintoma figure img,
  .tercer-sintoma figure img,
  .cuarto-sintoma figure img,
  .quinto-sintoma figure img {
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
  }

  .texto {
    width: 90%;
    margin-left: 15px;
  }

  .primer-video,
  .segundo-video,
  .tercer-video {
    margin-bottom: 20px;
  }

  .cuarto-video {
    margin-bottom: 60px;
  }

  .videos figcaption {
    font-size: 0.7rem;
    padding-bottom: 12px;
    padding-top: 3px;
  }

  .ficha-técnica,
  .reseña {
    margin-bottom: 30px;
  }

  footer .legal-links {
    padding-top: 50px;
  }

  footer .legal-links li,
  footer .social-links li,
  footer .container p {
    font-size: smaller;
    margin-top: 5px;
    text-align: center;
  }

  footer .legal-links li {
    margin-bottom: -5px;
  }

  footer .social-links {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  footer .social-links li {
    display: inline;
  }

  footer p {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
  }
}

/* Se ejecutará sólo cuando la anchura de la ventana del navegador
sea entre 768 pixeles y 1023 pixeles. (PANTALLAS UN POCO MÁS GRANDES,
tabletas y Ipads para modo vertical y horizontal) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 670px;
  }
  header .menu-links li {
    display: block;
    text-align: center;
  }

  header .link-titular {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
  }

  header .lema-cabecera {
    text-align: center;
  }

  header {
    height: 190px;
  }

  .navegation-container {
    position: sticky;
    top: 0;
  }

  header .container {
    min-height: 1900px;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .container h3 {
    font-size: 1.2rem;
  }

  .container section[class='primera-sección'] {
    height: 250px;
    width: 768px;
    max-width: 1023px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
    left: -65px;
  }

  .container section[class='primera-sección'] .lema {
    font-size: 2.5rem;
    padding-top: 60px;
    width: 600px;
    position: relative;
    left: 85px;
  }

  .imagen-segunda-noticia,
  .imagen-tercera-noticia {
    margin-top: 40px;
  }

  .cuarta-sección {
    width: 768px;
    height: 420px;
    max-width: 1023px;
    position: relative;
    left: -65px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    padding-top: 25px;
  }

  .form-footer button {
    width: 250px;
  }

  .primer-sintoma,
  .segundo-sintoma,
  .tercer-sintoma,
  .cuarto-sintoma,
  .quinto-sintoma {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .quinto-sintoma {
    margin-bottom: 80px;
  }

  .primer-sintoma figure img,
  .segundo-sintoma figure img,
  .tercer-sintoma figure img,
  .cuarto-sintoma figure img,
  .quinto-sintoma figure img {
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
  }

  .texto {
    width: 90%;
    margin-left: 30px;
  }

  .primer-video {
    margin-top: 30px;
  }

  .primer-video,
  .segundo-video,
  .tercer-video {
    margin-bottom: 30px;
  }

  .cuarto-video {
    margin-bottom: 80px;
  }

  .videos figcaption {
    font-size: 0.9rem;
    padding-bottom: 21px;
    padding-top: 7px;
  }

  .ficha-técnica,
  .reseña {
    margin-bottom: 30px;
  }

  .reseña blockquote {
    margin-left: 0px;
  }

  footer .legal-links {
    padding-top: 50px;
  }

  footer .legal-links li,
  footer .social-links li,
  footer .container p {
    font-size: smaller;
    margin-top: 5px;
    text-align: center;
  }

  footer .legal-links li {
    margin-bottom: -5px;
  }

  footer .social-links {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  footer .social-links li {
    display: inline;
  }

  footer p {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
  }
}

/* Se ejecutará sólo cuando la anchura de la ventana del navegador
sea mayor de 1024 píxeles. (PANTALLAS MÁS GRANDES, portátiles y ordenadores de sobremesa) */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  header {
    height: 140px;
  }

  header .menu-links li {
    margin-right: 25px;
    display: inline-block;
  }

  header .link-titular {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .navegation-container {
    position: sticky;
    top: 0;
  }

  header .container {
    min-height: 1080px;
  }

  .container section[class='primera-sección'] {
    height: 270px;
    width: 1349px;
    max-width: 1500px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
    left: -210px;
  }

  .container section[class='primera-sección'] .lema {
    font-size: 3.5rem;
    padding-top: 50px;
    width: 750px;
    position: relative;
    left: 210px;
  }

  .tercera-sección .noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .noticias div {
    flex: 1;
    margin: 30px;
    margin-left: 0px;
  }

  .cuarta-sección {
    width: 1349px;
    position: relative;
    left: -210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }

  .form-group input {
    width: 90%;
  }

  .síntomas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .primer-sintoma,
  .segundo-sintoma,
  .tercer-sintoma,
  .cuarto-sintoma,
  .quinto-sintoma {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-left: 0px;
    margin-top: 5px;
  }

  .primer-sintoma,
  .tercer-sintoma,
  .quinto-sintoma {
    width: 65%;
    align-self: flex-start;
  }

  .segundo-sintoma,
  .cuarto-sintoma {
    width: 65%;
    align-self: flex-end;
  }

  .imagen-primer-sintoma,
  .imagen-segundo-sintoma,
  .imagen-tercer-sintoma,
  .imagen-cuarto-sintoma,
  .imagen-quinto-sintoma {
    width: 1450px;
  }

  .texto .descripción {
    text-align: justify;
    margin-right: 15px;
    margin-top: 3px;
    margin-left: 25px;
  }

  .texto h3,
  .texto .more-text {
    margin-left: 25px;
  }

  .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .primer-video,
  .segundo-video,
  .tercer-video,
  .cuarto-video {
    width: 49%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .segundo-video,
  .cuarto-video {
    margin-left: 15px;
  }

  .tercer-video,
  .cuarto-video {
    margin-bottom: 80px;
  }

  .primer-sintoma figure img,
  .segundo-sintoma figure img,
  .tercer-sintoma figure img,
  .cuarto-sintoma figure img,
  .quinto-sintoma figure img {
    margin: 15px;
  }

  .texto-COP26 {
    display: flex;
  }

  .justify-text {
    text-align: justify;
  }

  .reseña {
    margin-left: 80px;
  }

  .ficha-técnica {
    margin-left: 10px;
  }

  .información,
  .form-footer {
    text-align: left;
    padding-left: 439px;
    width: 870px;
  }

  .form-footer button {
    width: 10rem;
  }

  footer {
    height: 160px;
  }

  footer .legal-links li,
  footer .social-links li,
  footer .container span {
    font-size: smaller;
    margin-top: 20px;
    margin-left: 0px;
  }

  footer .legal-links li {
    margin-top: 30px;
  }

  footer .legal-links li,
  footer .social-links li {
    display: inline-block;
  }

  footer .legal-links li {
    margin-right: 25px;
  }
}

/* Enlaces comunes */
a[class='featured-words'],
a[class='featured-link'] {
  color: var(--contrast-color);
  text-decoration: none;
}

a:hover[class='featured-words'],
a:hover[class='featured-link'] {
  color: var(--text-color);
  text-decoration: underline;
}

a[class='more-text'] {
  color: var(--contrast-color);
  text-decoration: none;
  border-bottom: 1px;
  border-bottom-style: dotted;
}

a:hover[class='more-text'] {
  color: var(--text-color);
}

/*Clases aplicadas a las imágenes y vídeos del sitio*/
.img-fluid {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 5px;
}

.sr {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.video-fluid {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.video-fluid-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-fluid::before {
  display: block;
  content: '';
  padding-top: 56.25%;
}

/* Menú de navegación */

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 800;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

nav ul {
  padding-bottom: 10px;
  margin-top: -25px;
}

nav ul li.active a {
  color: var(--contrast-color);
}

nav[class='container'] .lema-cabecera,
nav[class='container'] .menu-links {
  font-size: 0.8rem;
}

.link-titular {
  font-size: 3rem;
  margin-top: -35px;
  margin-bottom: 25px;
}

a .link-titular {
  padding-top: 5px;
}

.lema-cabecera {
  padding-top: 20px;
}

/* Menú de pie de página */
footer {
  color: var(--text-dark-background-color);
  background-color: var(--dark-background-color);
}

footer a {
  color: var(--text-dark-background-color);
  text-decoration: none;
}

footer .legal-links li,
footer .social-links li,
footer .container p {
  font-size: smaller;
}

footer .social-links li {
  margin-right: 5px;
  margin-bottom: 13px;
}

footer div ul[class='legal-links'] li a:hover {
  color: var(--contrast-color);
}

footer div ul[class='social-links'] li a:hover {
  opacity: 0.7;
}

/* Página home (index.html) */
a[class='titulo-noticia'] {
  color: var(--contrast-color);
  text-decoration: none;
}

a:hover[class='titulo-noticia'] {
  color: var(--text-color);
}

.container section[class='primera-sección'] .lema {
  color: var(--text-dark-background-color);
  font-weight: 400;
}

.container section[class='primera-sección'] {
  background: url(../img/bg-hero-home.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: right;
}

.cuarta-sección {
  background-color: var(--form-background-color);
}

input[type='text'],
input[type='email'] {
  padding-left: 10px;
}

form .form-group {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group input {
  height: 40px;
  margin: 0.5rem;
}

.form-footer .conditions {
  margin-bottom: 10px;
  margin-top: 15px;
}

.form-footer,
form .información {
  font-size: xx-small;
}

form .información {
  padding-top: 10px;
}

.form-footer button {
  color: var(--text-dark-background-color);
  background-color: var(--contrast-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0.5rem;
  margin-left: 0rem;
  margin-bottom: 2.5rem;
  height: 2.5rem;
}

::placeholder,
.boton {
  font-family: 'Raleway', sans-serif;
}

button:hover {
  color: var(--text-dark-background-color);
  background-color: var(--dark-background-color);
}

/* Página síntomas (sintomas.html) */
.container .primer-sintoma,
.container .segundo-sintoma,
.container .tercer-sintoma,
.container .cuarto-sintoma,
.container .quinto-sintoma {
  background-color: white;
}

/* Página videos (videos.html) */
.container .primer-video,
.container .segundo-video,
.container .tercer-video,
.container .cuarto-video,
.container .quinto-video {
  background-color: white;
}

.videos figcaption {
  text-align: center;
  margin: 10px;
}

/* Página COP26 (COP26.html) */
dt {
  font-weight: 600;
  margin-top: 12px;
  font-size: x-small;
}

.lista-pactos {
  margin-left: 30px;
}
.lista-pactos li {
  margin-bottom: 15px;
}

.texto-COP26 {
  font-size: 0.9rem;
}

blockquote {
  width: 100%;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px 30px;
  background-color: white;
  border-left: 4px solid #ff1616;
}

blockquote[class='espacio'] {
  margin-bottom: 60px;
}

blockquote p {
  font-style: italic;
}

cite {
  font-weight: 800;
}
